
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
html {
  height: 100%;
  font-size: 14px; }

body {
  height: 100%; }
  body.layout-boxed {
    height: 100%; }

.wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: transparent;
  position: relative; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }

body {
  overflow-x: hidden;
  overflow-y: auto;
  color: #7792b1;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  background-color: #f2f5fa; }

/*---basic---*/
a {
  color: #7792b1; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.2; }
.control-sidebar {
  top: 0;
  right: -355px;
  width: 345px;
  -webkit-transition: right .3s ease-in-out;
  -o-transition: right .3s ease-in-out;
  transition: right .3s ease-in-out;
  position: absolute;
  padding: 30px 30px 30px 30px;
  z-index: 9999; }
  .control-sidebar > .tab-content {
    padding: 15px 0px; }
  .control-sidebar.control-sidebar-open {
    right: 0; }
    .control-sidebar.control-sidebar-open.control-sidebar-bg, .control-sidebar.control-sidebar-open + .control-sidebar-bg {
      right: 0; }
  .control-sidebar .nav-tabs.control-sidebar-tabs > li {
    margin-right: 15px; }
    .control-sidebar .nav-tabs.control-sidebar-tabs > li > a {
      padding: 10px 5px;
      display: block;
      font-size: 16px;
      height: 60px;
      width: 40px; }
  .control-sidebar .rpanel-title {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff; }
    .control-sidebar .rpanel-title .btn {
      padding: 0;
      margin: 0.75rem 1rem;
      line-height: normal; }

.box-body {
  padding: 1.5rem 1.5rem;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-radius: 3px; }
  .box-body .box-title {
    display: inline-block;
    margin: 0;
    font-weight: 500;
    margin-bottom: 1rem; }
  .box-body > .table {
    margin-bottom: 0; }
  .box-body .fc {
    margin-top: 5px; }
  .box-body .full-width-chart {
    margin: -10px; }
  .box-body.no-padding .full-width-chart {
    margin: -9px; }
  .box-body .box-pane {
    border-radius: 0 0 0 3px; }
  .box-body .box-pane-right {
    border-radius: 0 0 3px; }
  .box-body > *:last-child {
    margin-bottom: 0; }
  .box-body ul li {
    line-height: 24px; }

.box-title {
  z-index: auto; }
  .box-title.box-title-bold {
    font-weight: 900; }
  .box-title code {
    font-size: 0.7143rem; }

/*Button*/
.btn {
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: inherit;
  padding: 8px 16px;
  font-size: 1.1rem;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
  .btn.btn-flat {
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px; }
  .btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn:hover {
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.1), 0 4px 23px 0 rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.1), 0 4px 23px 0 rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.1); }
  .btn[class*=bg-gradient-] {
    color: #ffffff;
    border: none; }
  .btn[class*=btn-outline-] {
    border-color: #d5dfea; }
  .btn.btn-outline {
    border-color: #d5dfea;
    color: #475f7b; }
  .btn.btn-file {
    position: relative;
    overflow: hidden; }
    .btn.btn-file > input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      opacity: 0;
      filter: alpha(opacity=0);
      outline: 0;
      background: #ffffff;
      cursor: inherit;
      display: block; }
  .btn[class*=bg-]:hover {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2); }
  .btn.dropdown-toggle:after {
    display: none; }

.btn-rounded {
  border-radius: 60px; }